<Alloy>
	<Window id="eventsWin" fullScreen="true" navBarHidden="true" modal="true">
		<ActivityIndicator id="activityIndicator" message="Loading..."/>
		<View id="topView">
			<Button id="backBtn" onClick="closeWin"></Button>
		</View>
		<TableView id="eventTblView"></TableView>
		<View id="bottomView">
			<Label id="homeAway"></Label>
		</View>
	</Window>
</Alloy>